### Paths #################################################
# Choose storage path on your machine
DATA_PATH_HOST=./data


### Drivers ################################################
# All volumes driver
VOLUMES_DRIVER=local
# All Networks driver
NETWORKS_DRIVER=bridge


### WORKSPACE #############################################
WORKSPACE_TIMEZONE=Asia/Shanghai


### PUTI  #################################################
PUTI_HTTP_PORT=8000
PUTI_HTTPS_PORT=8080
PUTI_LOG_PATH=./logs/puti
PUTI_DATA_PATH=./data/puti/


### MYSQL #################################################
MYSQL_VERSION=8.0
MYSQL_DATABASE=db_puti
MYSQL_USER=putiroot
MYSQL_PASSWORD=puti123456
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=123456
# If the DATA_PATH_HOST/mysql is empty, the container will init the database using these sql file
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d
# Mysql logs path on your machine
MYSQL_HOST_LOG_PATH=./logs/mysql


### NGINX #################################################
NGINX_VERSION=stable-alpine
NGINX_CONF_PATH=./nginx/nginx.conf
NGINX_CONFD_PATH=./nginx/conf.d
NGINX_HOST_LOG_PATH=./logs/nginx
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_CERT_PATH=./nginx/certs
